<template>
<div class="container">
  <b-card class="text-light shadow-lg">
    <div class="row justify-content-between px-3">
      <h3>ثبت موضوع جدید</h3>
      <div>
        <v-icon>mdi-refresh</v-icon>
        <v-icon>mdi-vector-difference-ab</v-icon>
      </div>
    </div>

    <b-card-text>برای اضافه نمودن یک دسته از محصولات در موضوع جدید نیازمند اضافه نمودن یک دسته هستید.</b-card-text>

    <div class="mt-5 mb-3 pb-2 border-bottom border-warning">
      <v-icon right class="text-warning">mdi-eye</v-icon>
      <span class="h4">بخش‌های اصلی</span>
    </div>

    <b-row>
      <b-col class="col-12 col-sm-12 col-md-6">
        <b-form-group label-cols="4" label-cols-lg="2" label="عنوان">
          <b-form-input></b-form-input>
        </b-form-group>
      </b-col>

      <b-col class="col-12 col-sm-12 col-md-6">
        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="عنوان انگلیسی"
        >
          <b-form-input></b-form-input>
        </b-form-group>
      </b-col>
    </b-row>

    <b-row>
      <b-col class="col-12 col-sm-12 col-md-6">
        <b-form-group label-cols="4" label-cols-lg="2" label="زیرمجموعه">
          <b-form-select v-model="selected" :options="options"></b-form-select>
        </b-form-group>
      </b-col>
      <b-col class="col-12 col-sm-12 col-md-6">
        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="اولویت بندی"
        >
          <b-form-input type="number"></b-form-input>
        </b-form-group>
      </b-col>
    </b-row>

    <div class="mt-5 mb-3 pb-2 border-bottom border-warning">
      <v-icon right class="text-warning">mdi-bullseye</v-icon>
      <span class="h4">توضیحات تکمیلی</span>
    </div>

    <b-row class="border-bottom">
      <b-col class="col-12 col-sm-12 col-md-6">
        <b-form-group label-cols="4" label-cols-lg="2" label="متا عنوان">
          <b-form-input placeholder="کلمات کلیدی برای سئو سایت را وارد کنید."></b-form-input>
        </b-form-group>
        <b-form-group
          label-cols="4"
          label-cols-lg="2"
          label="آیکون موضوع"
          class="text-left"
        >
          <b-form-file></b-form-file>
        </b-form-group>
        <b-form-group label-cols="4" label-cols-lg="2" label="حاشیه سود">
          <b-form-input type="number"></b-form-input>
        </b-form-group>
      </b-col>

      <b-col class="col-12 col-sm-12 col-md-6">
        <b-form-group label-cols="3" label="توضیحات">
          <b-form-textarea
            placeholder="خلاصه‌ای از شرح فعالیت این موضوع را وارد کنید."
            rows="8"
          ></b-form-textarea>
        </b-form-group>
      </b-col>
    </b-row>

    <b-button variant="success" class="float-left mt-5">
      <span>ثبت</span>
      <v-icon>mdi-checkbox-marked-circle</v-icon>
    </b-button>
  </b-card>
</div>
</template>

<script>
  export default {
  data() {
    return {
      options: ["ندارد", "دارد"],
      selected: "ندارد"
    };
  }
};
</script>

<style>
.card {
  direction: rtl;
  text-align: right;
  background: linear-gradient(-30deg, #1b1935, #1b2735, #1a7fa3);
}
.form-group {
  margin-bottom: unset;
}
.form-control {
  font-size: .6rem;
}
.form-control,
.custom-select,
.form-control:focus {
  background-color: transparent;
  color: #f6f3f9;
}
.custom-file-label {
  background-color: transparent;
}
.custom-file-label:after {
  background-color: blueviolet;
  color: #f6f3f9;
}
.form-group .col-form-label {
  color: #f6f3f9;
}
option {
  background-color: #1a7fa3;
}
</style>
